<div class="container" *ngIf="selectedPlayer$ | async as selectedPlayer">
  <h2>{{ selectedPlayer.firstName }} {{ selectedPlayer.lastName }}</h2>
  <h1>Current Bid: ₹{{ selectedPlayer.currentBidAmount | number }}</h1>
  <h3>Base Price: ₹{{ selectedPlayer.basePrice | number }}</h3>
  <div>
    <p>Last Bid Amount: ₹{{ selectedPlayer.bidAmount | number }}</p>
  </div>
  <p>
    Is the team ID the same:
    {{ ownerDetails?.userId === selectedPlayer.teamId ? "Yes" : "No" }}
  </p>

  <form [formGroup]="biddingForm" class="bid-controls">
    <ng-container *ngIf="selectedPlayer.bidAmount <= 100; else bidAbove100">
      <button
        mat-raised-button
        color="primary"
        (click)="bidByAmount(100, selectedPlayer)"
      >
        +100
      </button>
      <button
        mat-raised-button
        color="accent"
        (click)="bidByAmount(200, selectedPlayer)"
      >
        +200
      </button>
    </ng-container>
    <ng-template #bidAbove100>
      <button
        mat-raised-button
        color="warn"
        (click)="bidByAmount(500, selectedPlayer)"
      >
        +500
      </button>
    </ng-template>
  </form>
</div>

<div class="container">
  <h2 *ngIf="ownerDetails; else adminTemplate">
    Welcome, {{ ownerDetails.firstName }} {{ ownerDetails.lastName }}!
  </h2>
  <h3 *ngIf="ownerDetails">
    Purse Balance: ₹{{ ownerDetails.budget | number }}
  </h3>

  <div *ngIf="isAdmin">
    <h2>Admin Dashboard</h2>
    <div *ngIf="latestDetails$ | async as details">
      <form [formGroup]="biddingForm" class="admin-controls">
        <button
          mat-flat-button
          color="primary"
          (click)="markAsSold(details.playerId)"
        >
          Mark as Sold
        </button>
        <button mat-raised-button color="warn" (click)="markAsUnsold()">
          Mark as Unsold
        </button>
      </form>
    </div>
  </div>

  <ng-template #adminTemplate>
    <h2>Admin not logged in or owner details not found!</h2>
  </ng-template>
</div>

<div *ngIf="!ownerDetails && !isAdmin">
  <h1>Error: Owner not found!</h1>
</div>
