<div *ngIf="selectedPlayer$ | async as selectedPlayer">
  <div class="container">
    <h2>{{ selectedPlayer.firstName }} {{ selectedPlayer.lastName }}</h2>
    <h1>Current Bid: ₹{{ selectedPlayer.currentBidAmount | number }}</h1>
    <h3>Base Price: ₹{{ selectedPlayer.basePrice | number }}</h3>
    <div>
      <p>Last Bid Amount: ₹{{ selectedPlayer.bidAmount | number }}</p>
    </div>
    <p>
      Is the team ID the same:
      {{ ownerDetails?.userId === selectedPlayer.teamId ? "Yes" : "No" }}
    </p>
    @if(ownerDetails) {
    <form [formGroup]="biddingForm" class="bid-controls">
      <ng-container *ngIf="selectedPlayer.bidAmount <= 100; else bidAbove100">
        <button
          mat-raised-button
          color="primary"
          [disabled]="ownerDetails?.userId === selectedPlayer.teamId"
          (click)="bidByAmount(100, selectedPlayer)"
        >
          {{ "100" | currency : "INR" }}
        </button>
        <button
          mat-raised-button
          color="accent"
          [disabled]="ownerDetails?.userId === selectedPlayer.teamId"
          (click)="bidByAmount(200, selectedPlayer)"
        >
          {{ "200" | currency : "INR" }}
        </button>
      </ng-container>
      @if(selectedPlayer.currentBidAmount === 0) {
      <ng-container>
        <button
          mat-raised-button
          color="secondary"
          [disabled]="ownerDetails?.userId === selectedPlayer.teamId"
          (click)="bidByAmount(0, selectedPlayer)"
        >
          Get Player At Base Price
        </button>
      </ng-container>
      }
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Place Custom Bid</mat-label>
          <input matInput formControlName="customBidAmt" />
          <mat-error
            *ngIf="
              biddingForm.get('customBidAmt')?.value > selectedPlayer.bidAmount
            "
          >
            Bid amount should be more than previous bid!
          </mat-error>
        </mat-form-field>
        <button
          mat-raised-button
          color="warn"
          [disabled]="ownerDetails?.userId === selectedPlayer.teamId"
          (click)="
            bidByAmount(biddingForm.get('customBidAmt')?.value, selectedPlayer)
          "
        >
          Place Bid
        </button>
      </div>

      <ng-template #bidAbove100>
        <button
          mat-raised-button
          color="warn"
          [disabled]="ownerDetails?.userId === selectedPlayer.teamId"
          (click)="bidByAmount(500, selectedPlayer)"
        >
          {{ "500" | currency : "INR" }}
        </button>
      </ng-template>
    </form>
    }
  </div>

  <div>
    <div class="container">
      @if(ownerDetails) {
      <h2>
        Welcome, {{ ownerDetails.firstName }} {{ ownerDetails.lastName }}!
      </h2>
      <h3>Purse Balance: ₹{{ ownerDetails.budget | number }}</h3>
      }

      <div *ngIf="isAdmin">
        <h2>Admin Dashboard</h2>
        <div *ngIf="latestDetails$ | async as details">
          <form [formGroup]="biddingForm" class="admin-controls">
            <button
              mat-flat-button
              color="primary"
              (click)="markAsSold(details.playerId)"
            >
              Mark as Sold
            </button>
            @if(selectedPlayer.currentBidAmount === 0){
            <button mat-raised-button color="warn" (click)="markAsUnsold()">
              Mark as Unsold
            </button>
            }
          </form>
        </div>
      </div>
    </div>
  </div>

  <ng-template #adminTemplate>
    <h2>Admin not logged in or owner details not found!</h2>
  </ng-template>
</div>

<div *ngIf="!ownerDetails && !isAdmin">
  <h1>Error: Owner not found!</h1>
</div>
