<mat-toolbar color="primary">
  <span>Auction System</span>
  <div class="spacer"></div>
  <button mat-button routerLink="/" routerLinkActive="active">Login</button>
  <button mat-button routerLink="/dashboard" routerLinkActive="active">
    Dashboard
  </button>
  <button mat-button routerLink="/biddingprocess" routerLinkActive="active">
    Bidding
  </button>
  <button mat-button routerLink="/players" routerLinkActive="active">
    Players
  </button>
  <button mat-button routerLink="/adduser" routerLinkActive="active">
    Add User
  </button>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>
